<div class="home-hero-slides">
  <div class="item">
    <%= image_tag "applicant/banner.jpg" %>
  </div>
  <div class="item">
    <%= image_tag "applicant/banner1.jpg" %>
  </div>
</div>
<div class="guarantee container clearfix">
  <div class="numbers">
      <div class="list-group">
        <span class="title">累计发布岗位</span>
        <p class="stats"><span class="number">829</span><span>个</span></p>
      </div>
      <div class="list-group">
        <span class="title">已入驻企业</span>
        <p class="stats"><span class="number">127</span><span>家</span></p>
      </div>
      <div class="list-group last">
        <span class="title">已入驻中介</span>
        <p class="stats"><span class="number">284</span><span>家</span></p>
      </div>
  </div>
</div>
