$color_orange: #ffa800;

body.enterprise-registrations{
  .ui.segment{
    background-image: image-url('applicant/signup-bg.jpg');
    background-repeat: no-repeat;
    height: 626px;
    margin: 0;
    margin: 0;
    .ui.button{
      color: $color_orange;
      height: 50px;
      background-color: #9a9a9a;
      font-size: 24px;
      border-radius: 0;
    }
  }
  .ui.card{
    float: right;
    margin-top: 109px;
    margin-right: 101px;
    width: 369px;

  }
  .ui.form{
    padding: 10px 20px 38px 20px;
  }

}
