<footer class="site-footer">
  <div class="container clearfix">
    <ul class="list-group">
      <li><a href="/" >关于我们</a></li>
      <li><a href="/pages/jianjie" >淘帮忙简介</a></li>
      <li><a href="/pages/zixun" >业务咨询</a></li>
      <li><a href="/pages/shengming" >法律声明</a></li>
      <li><a href="/pages/xieyi" >服务协议</a></li>
    </ul>
    <ul class="list-group">
      <li><a href="/" >加盟合作</a></li>
      <li><a href="/pages/hezuo" >商务合作</a></li>
      <li><a href="/pages/lianmeng" >网站联盟</a></li>
      <li><a href="/pages/lianjie" >友情链接</a></li>
      <li><a href="/pages/zizhi" >业务资质</a></li>
    </ul>
    <ul class="list-group">
      <li><a href="/" >联系我们</a></li>
      <li><a href="/pages/toushu" >投诉建议</a></li>
      <li><a href="/enterprises/sign_up" class="join-us">加入淘帮忙</a></li>
    </ul>
    <ul class="pull-right">
      <li><%= image_tag "applicant/footer_weixin.jpg", style: 'height: 132px' %></li>
    </ul>
    <ul class="guan-footer pull-right">
      <li><span>关注我们</span></li>
      <li><span>联系电话：400－056－2618</span></li>
      <li><span>工作时间：8:30 － 17:30</span></li>
      <li class="social-icons">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-tencent-weibo fa-stack-1x fa-inverse"></i>
        </span>
      </li>
    </ul>

  </div>
  <div class="container copyright">
    <span class="logo-footer"><%= image_tag "applicant/footer_logo.jpg"%></span>&nbsp;
    &copy; 2015 淘帮忙版权所有
    <div class="pull-right">
      <%= image_tag 'applicant/chengxin.jpg' %>
      <%= image_tag 'applicant/kexin.jpg' %>
    </div>
  </div>
</footer>
