// info
.ui.secondary.inverted.menu{
  background-color: #393939;
}

.ui.inverted.menu .item.header{
  vertical-align: bottom;
  color: #fbe496;
  span{
    font-size: 20px;
    padding-left: 10px;
  }
}

// nav
