/*
 *= require font-awesome/css/font-awesome
 *= require ionicons/css/ionicons
 *= require bootstrap/dist/css/bootstrap.css
 *= require slick-carousel/slick/slick
 *= require slick-carousel/slick/slick-theme
 *= require_directory ./applicant_old
 */

.rucaptcha-image{
  height: 55px;
  margin-top: -10px;
  width: 180px;
}

.yanzhengma .change{
  font-size: 15px;
  float: right;
  padding-top: 10px;
}
