/*
 *= require slick-carousel/slick/slick.css
 *= require slick-carousel/slick/slick-theme.css
 */

// shortcut
.ui.secondary.inverted.menu.shortcut{
  background-color: #393939;

  .item.header{
    color: #fbe496;
    vertical-align: bottom;

    span{
      font-size: 20px;
      padding-left: 10px;
    }
  }
}

// nav
.ui.attached.menu.nav{
  border: none;
  a.item{
    height: 100px;
    border-radius: 0;
    padding: 0px 25px;
  }
  a.item:hover, a.item.active{
    background-color: #ffa800;
  }
  a.item.header{
    background-image: image-url('logo.png');
    background-repeat: no-repeat;
    background-position: 0px 20px;
    width: 200px;
    background-size: 200px;
    span{
      display: none;
    }
  }

  .right.menu{
    a.item{
      color: #ffa800;
      padding: 0 10px;
    }
    a.item:hover{
      background-color: inherit;
    }
  }
}


// slick
.slick-slider {
    margin-bottom: 0;
}

.slick-dots
{
    bottom: 20px;
}

// 数字展示
.ui.statistics{
  padding-top: 34px;
  padding-bottom: 28px;
}
.ui.statistics > .statistic:first-child{
  box-shadow: none;
  padding-left: 0px;
}

.ui.statistics > .statistic{
  box-shadow: -1px -0px 0px 0px #D4D4D5;
  padding-left: 40px;
  .label, .value{
    text-align: left;
  }
  .label{
    color: #999999;
  }
  .value{
    color: #808aa2;
  }
  .value.main{
    color: #ffa800;
  }
  .unit{
    padding-left: 22px;
    font-size: 15px;
  }
}
